In [1]:
### Python2.7
import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score
from scipy import stats

import pylab as pl
import seaborn as sns

pd.set_option('display.precision', 3);
sns.set(font_scale=1) # размер шрифта

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [51]:
data = pd.read_csv('ccpp.csv', # путь к файлу, используй автодотолнение
                   sep=';', # разделитель данных в файле
                   decimal=",",#дробная часть отделяется запятой
                   header=0 # номер строки с заголовками. header='None', если заголовки отсутствуют
                  )

In [52]:
data.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [53]:
data.columns

Index([u'AT', u'V', u'AP', u'RH', u'PE'], dtype='object')

In [55]:
data.columns = ([u'°С', u'Вакуум на выхлопе паровой турбины, см рт. ст.', u'Атмосферное давление, милибары',u'Относительная влажность, %', u'Выработка эл. энергии за час, МегаВатт'])

In [56]:
data.head()

,°С,"Вакуум на выхлопе паровой турбины, см рт. ст.","Атмосферное давление, милибары","Относительная влажность, %","Выработка эл. энергии за час, МегаВатт"
0,8.34,40.77,1010.84,90.01,480.48
1,23.64,58.49,1011.40,74.20,445.75
2,29.74,56.90,1007.15,41.91,438.76
3,19.07,49.69,1007.22,76.79,453.09
4,11.80,40.66,1017.13,97.20,464.43

In [57]:
nrow = data.shape[0]
ncol = data.shape[1]
print ("Итого " + str(nrow) + " записи, " + str(ncol) + " столбец(ов) (признак(ов)).")

Итого 9568 записи, 5 столбец(ов) (признак(ов)).

In [58]:
print(data.info())
#Похоже данные без пропусков

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
°С                                               9568 non-null float64
Вакуум на выхлопе паровой турбины, см рт. ст.    9568 non-null float64
Атмосферное давление, милибары                   9568 non-null float64
Относительная влажность, %                       9568 non-null float64
Выработка эл. энергии за час, МегаВатт           9568 non-null float64
dtypes: float64(5)
memory usage: 373.8 KB
None

In [59]:
data.describe()

,°С,"Вакуум на выхлопе паровой турбины, см рт. ст.","Атмосферное давление, милибары","Относительная влажность, %","Выработка эл. энергии за час, МегаВатт"
count,9568.000,9568.000,9568.000,9568.000,9568.000
mean,19.651,54.306,1013.259,73.309,454.365
std,7.452,12.708,5.939,14.600,17.067
min,1.810,25.360,992.890,25.560,420.260
25%,13.510,41.740,1009.100,63.328,439.750
50%,20.345,52.080,1012.940,74.975,451.550
75%,25.720,66.540,1017.260,84.830,468.430
max,37.110,81.560,1033.300,100.160,495.760